* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: poppins, sans-serif;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
}

header {
    position: fixed;
    width: 70vw;
    left: 50%;
    transform: translatex(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;

    & img {
        width: 250px;
        margin: 20px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 300px);
        }
    }
}

section {
    background-image: radial-gradient(#614343, #140f0f);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-img {
                position: absolute;
                top: 40%;
                transform: translate(5%, -20%);
                width: 80%;

                & img {
                    width: 80%;
                    transform: rotate(-20deg)
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100px;
                    top: 150%;
                    left: 50px;
                    filter: blur(50px)
                }
            }

            & .content {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;

                & .car-info {
                    font-weight: bold;
                }

                & h2 {
                    font-size: 8em;
                    line-height: 1em;
                    font-family: 'League Gothic', sans-serif;
                }

                & .descrição {
                    color: #d9d9d9;
                    font-size: 12px;
                    text-align: right;
                    max-width: 400px;
                }

                & .informe {
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid white;
                    background-color: #614343;
                    color: black;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: 'league gothic', sans-serif;

                }
            }


        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid white;
        }
    }

    .arrows {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;


        & button:nth-child(1) {
            & img {
                transform: scale(-1);
            }
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 30px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover {
                background-color: #614343;
            }
        }
    }

    .indicadores {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: 'league gothic', sans-serif;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #614343;
                border-radius: 5px;
                transition: 0.5s;
            }

            & li.active {
                background-color: white;
            }
        }
    }


}

section {

    & .list {
    --calculation: 1;

        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;

                }

            }

            & .content {

                & .car-info, h2, .descrição, .informe {
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .descrição {
                    transition-delay: 0.7s;
                }

                & .informe {
                    transition-delay: 0.10s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.6s;
            opacity: 1;

            & .car-img {
                & img {
                    transform: rotate(-20deg);

                }

            }

            & .content {
                & .car-info, h2, .descrição, .informe {
                    transform: translateX(0);
                    opacity: 1;
                }
            }

        
    }
}
}

.botao_menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}